/* TypedText.css */

.typed-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value as needed */
  }
  
  #element {
    font-size: 3rem; /* Adjust the font size as needed */
  }
  